 {% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="wrapper">

        {% block side_navbar %}
            {% include 'side_navbar.html' %}
        {% endblock %}




    <!-- Page Heading -->

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"


                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'img/undraw_profile_1.svg' %}" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'img/undraw_profile_2.svg' %}" alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% static 'img/undraw_profile_3.svg' %}" alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'user_logout' %}" data-toggle="modal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Notice Of Reinstate</h1>
            <!--        <a href="/daily_missing_report" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">-->
            <!--            <i class="fas fa-download fa-sm text-white-50"></i> Self Restrict Form-->
            <!--        </a>-->
                </div>




    <form id="new_restrict_form" method="POST" action="{% url 'notice_of_reinstate' %}">
      <hr class="hr-text" data-content="Personal Information">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <label for="first_name">Full Legal Name</label>
              <input type="text" name="first_name" placeholder="First" id="first_name" class="form-control" required minlength="2">
            </div>
            <div class="col-md-4">
              <label for="middle_name">&nbsp;</label>
              <input type="text" name="middle_name" placeholder="Middle (if Applicable)" id="middle_name" class="form-control" required minlength="2">
            </div>
            <div class="col-md-4">
              <label for="last_name">&nbsp;</label>
              <input type="text" name="last_name" placeholder="Last" id="last_name" class="form-control" required minlength="2">
            </div>
          </div>

          <br>
          <div class="row">
            <div class="col-md-12">
              <label for="other_name">Other Name</label>
                <input type="text" name="other_name" placeholder="Other Names (i.e.. Former Names: Maiden names, Nicknames, or Aliases / A.K.A.'s)" id="other_name" class="form-control" required minlength="2">
            </div>
          </div>
        </div>
      </div>
<!--      Personal information section end-->

<!--   Reinstatement start-->
      <br>
      <hr class="hr-text" data-content="Reinstatement">
      <br>
      <div class="row">
            <div class="col-md-6">
                <label for="condition_of_reinstatement">Condition Of Reinstatement</label>
                <textarea name="condition_of_reinstatement" id="condition_of_reinstatement" class="form-control" rows="5" required minlength="2"></textarea>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label for="reinstated_on">Reinstated on</label>
                        <input type="date" class="form-control" id="reinstated_on" name="reinstated_on" required>
                    </div>
                    <div class="col-md-6">
                      <label for="photo">Photo</label>
                        <input type="file" name="photo" id="photo" class="form-control" required minlength="2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <label for="reinstated_by">Reinstated by</label>
                      <select name="reinstated_by" id="reinstated_by" class="form-control" required>
                        <option value="">--Select Reinstated by--</option>
                        <option value="delhi">Security Admin</option>
                        <option value="mumbai">Security</option>
                        <option value="vadodara">Admin</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="title_">Title</label>
                      <input type="text" name="title" placeholder="Title" id="title_" class="form-control" required minlength="2">
                    </div>
                </div>
            </div>
        </div>
      <br>
<!--  Reinstatement end-->

<!--   Agreement start-->
      <br>
      <hr class="hr-text" data-content="Agreement">
      <p>I agree to abid by the rules of the Casino M8trix and any conditions set forth in the reinstatement notice.</p>

        <div class="row">
            <div class="col-md-6">
              <label for="patron_signature">Patron Signature</label>
                <input type="text" name="patron_signature" placeholder="Patron Signature" id="patron_signature" class="form-control" required minlength="2">
            </div>
            <div class="col-md-6">
                <label for="date_">Date:</label>
                <input type="date" class="form-control" id="date_" name="date" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <label for="approved_by">Approved by</label>
              <select name="approved_by" id="approved_by" class="form-control" required>
                <option value="">--Select Approved by--</option>
                <option value="delhi">Security Admin</option>
                <option value="mumbai">Security</option>
                <option value="vadodara">Admin</option>
              </select>
            </div>
            <div class="col-md-6">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
        </div>

<!--  Agreement end-->

    </form>

    <br>
    <div class="row">
      <div class="col-md-12">
          <a href="#" class="btn btn-primary btn-block" id="saveDMRBtn">Save Notice Of Reinstatement</a>
          <a href="/dashboard" class="btn btn-warning btn-block" id="">Back</a>
      </div>
    </div>   

<script src="/vendor/jquery-richtext/jquery.richtext.min.js"></script>
<link rel="stylesheet" href="/vendor/jquery-richtext/richtext.min.css">
<script src="/js/dmr.js"></script>

  </div>
        </div>
    </div>
</div>
{% endblock %}